[submodule "3rdparty/RF627-Protocol"]
	path = 3rdparty/RF627-Protocol
	url = ../RF627-Protocol.git
[submodule "3rdparty/RF62X-Protocol"]
	path = 3rdparty/RF62X-Protocol
	url = ../RF62X-Protocol.git
[submodule "3rdparty/RF-PlatformUtils"]
	path = 3rdparty/RF-PlatformUtils
	url = ../RF-PlatformUtils.git
